@import "../foundation/variable.scss";
@import "../foundation/mixins.scss";

/* header */

.header {
  background-color: $jet;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all ease 300ms;
  z-index: 1000;

  @include max-screen($breakpoint-tablet) {
    height: 48px;
    justify-content: space-between;
    overflow: scroll;

    &.open {
      height: 416px;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 970px;
  padding: 0 32px;

  @include max-screen($breakpoint-tablet) {
    flex-direction: column;
    width: auto;
    padding: 0 16px;
    width: 100%;
  }
}

.hamburger {
  display: none;
  width: 30px;
  height: 48px;
  padding: 0 16px;
  color: white;
  position: fixed;
  top: 0;
  right: 0;

  svg {
    margin: auto;
    font-size: 30px;
  }

  @include max-screen($breakpoint-tablet) {
    display: flex;
  }
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @include max-screen($breakpoint-tablet) {
    flex-direction: column;
  }
}

.menu_item {
  cursor: pointer;
  // display: flex;

  // svg {
  //   margin: auto auto auto 0;
  //   padding-right: 16px;
  // }

  a {
    display: block;
    box-sizing: border-box;
    height: 100%;
    color: $lightGray;
    padding: 8px 16px;
    line-height: 32px;
    font-weight: bold;

    svg {
      color: $lightGray;
      margin-left: 4px;
      margin-bottom: 3px;
      font-size: 1.2rem;
    }

    &:hover {
      color: white;
    }
  }

  &.active {
    background-color: $eerieBlack;

    a {
      color: white;
    }
  }
}

.menu_item.noLink {
  cursor: default;

  @include max-screen($breakpoint-tablet) {
    a {
      height: auto;
    }
  }
}

.menu_list {
  background-color: white;
  border: 1px solid $jet;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  position: absolute;
  top: 47px;
  padding: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  .menu_item {
    a {
      color: $jet;
    }

    &:hover {
      background-color: $cultured;
    }
  }

  @include max-screen($breakpoint-tablet) {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
    padding-left: 1.6rem;
    position: initial;
    background-color: $jet;

    .menu_item {
      a {
        color: $lightGray;
      }
    }
  }
}

.languageButtons {
  margin-top: auto;
  margin-bottom: auto;
  padding: 8px 16px;

  @include max-screen($breakpoint-tablet) {
    padding: 16px 16px 32px 16px;
  }
}

.languageButtons_button {
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  height: 28px;
  word-break: keep-all;

  &:first-child {
    margin-right: 4px;
  }

  &.active {
    background-color: $lightGray;
  }
}

.footer {
  background-color: $platinum;
  padding: 8px 16px;
  text-align: right;
  font-size: 1.2rem;
  color: $daysGray;
}
