@import "../foundation/mixins.scss";
@import "../foundation/variable.scss";

.container {
  max-width: 960px;
  min-height: 90vh;
  margin: 88px auto 40px auto;

  @include max-screen($breakpoint-pc) {
    width: auto;
    margin: 88px 32px 40px 32px;
  }
}

.fillWidth{
  margin: 88px 0 40px 0;
}

.container_content {
  margin-bottom: 128px;

  ul,
  ol {
    margin-bottom: 24px;
  }

  li {
    margin-bottom: 8px;
  }
}

.container_contentFrame {
  margin-bottom: 64px;
}

.container_title {
  margin-bottom: 40px;
}

.container_subtitle {
  margin-bottom: 32px;
  width: 100%;
}

.container_image {
  display: block;
  margin: auto auto 24px auto;
  width: 80vw;
}
