@import "../foundation/mixins.scss";
@import "../foundation/variable.scss";

.container {
  max-width: 960px;
  margin: 88px auto 40px auto;

  @include max-screen($breakpoint-pc) {
    width: auto;
    margin: 88px 32px 40px 32px;
  }
}
