@import "../../foundation/mixins.scss";
@import "../../foundation/variable.scss";

.News {
  width: 100vw;
  padding: 0 32px;
  box-sizing: border-box;

  .moz-txt-link-freetext {
    color: $link;
    font-weight: bold;
  }
}

.News_lists {
  height: calc(100vh - 128px);
  max-width: 30vw;
  overflow: scroll;
  padding: 8px 32px 8px 8px;
  margin-right: 24px;
  cursor: pointer;
  box-sizing: border-box;

  @include max-screen($breakpoint-tablet) {
    max-width: none;
    padding: 16px;
    margin: 0;
  }
}

.News_item {
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  transition: all ease 300ms;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  p {
    margin: 16px 0;
  }

  &:hover {
    background-color: $cultured;
  }
}

.News_mailContents {
  height: calc(100vh - 128px);
  overflow: hidden;

  @include max-screen($breakpoint-tablet) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.News_mailContentsModal {
  display: none;

  @include max-screen($breakpoint-tablet) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
  }
}

.News_mailTitle {
  padding: 0 0 16px 8px;
  z-index: 15;

  @include max-screen($breakpoint-tablet) {
    color: white;
    width: 80vw;
    margin: auto auto 0 auto;
  }
}

.News_mailBody {
  width: 60vw;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: scroll;
  background-color: $cultured;
  padding: 40px;
  border-radius: 16px;
  z-index: 15;

  > div {
    overflow: scroll;
  }

  span {
    white-space: normal !important;
    padding: 0 16px;
    width: 100%;
    text-decoration: none;
    line-height: 1.5;
    font-size: 1.6rem;
    word-break: break-all;
  }

  @include max-screen($breakpoint-tablet) {
    max-height: 70vh;
    width: 90vw;
    margin: 0 auto auto auto;
  }
}
