.ItSpecialistProgram_images img {
  padding: 4px;
  max-width: 240px;
}

.ItSpecialistProgram_imageTitle {
  text-align: center;
}

.ItSpecialistProgram_listTitle {
  font-weight: bold;
  margin-bottom: 16px;
}