@import "../../foundation/mixins.scss";
@import "../../foundation/variable.scss";

.Gallery {
  .container {
    margin: 0 0 64px 0;
  }
}

.Gallerytitle {
  margin: auto 0;
  padding: 24px 0;

  @include max-screen($breakpoint-tablet) {
    padding: 0;
  }
}

.GalleryMenu {
  margin: auto 0;

  @include max-screen($breakpoint-tablet) {
    margin-bottom: 24px;
  }

  a {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 4px;
    margin: 4px;
    color: $dimGray;
    cursor: pointer;
    transition: all ease 300ms;
    border-bottom: 2px solid white;

    &:hover,
    &.selected {
      color: $jet;
      border-bottom: 2px solid $jet;
    }
  }
}
.galleryItems {
  margin: auto;

  @include max-screen($breakpoint-pc) {
    width: 704px;
  }

  @include max-screen($breakpoint-tablet) {
    width: 416px;
  }

  @include max-screen($breakpoint-mobile) {
    width: auto;
  }
}

.galleryItem {
  height: 150.75px;
  width: 268px;
  background-size: cover;
  background-position: center;
  border: 16px solid $white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
  margin: 10px;
  cursor: pointer;

  @include max-screen($breakpoint-pc) {
    width: 182.6666px;
  }

  @include max-screen($breakpoint-tablet) {
    width: 156px;
  }

  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }
}

.galleryItemInfo {
  display: inline-flex;
  background: white;
  position: relative;
  width: auto;
  max-width: 200px;
  left: 0;
  top: 56px;

  p {
    margin: 0;
    height: 100%;
    font-weight: bold;
  }

  .galleryItemInfo_name {
    padding: 4px 16px;
    word-break: break-all;
  }

  .galleryItemInfo_imageNum {
    background-color: $platinum;
    color: $spanishGray;
    padding: 8px;
  }
}

.galleryItemContents_header {
  background-color: $cultured;
  border-top: 1px solid $platinum;
  border-bottom: 1px solid $platinum;
  padding: 8px;
  margin-bottom: 24px;

  .galleryItemContents_backButton {
    border-radius: 100%;
    border: 1px solid $lightGray;
    background-color: $lightGray;
    font-weight: bold;
    color: $daysGray;
    width: 40px;
    height: 40px;
    transition: all ease 300ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.galleryItemContents {
  img {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
  }
}

.modal {
  overflow: hidden;

  .modalWrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
  }

  img {
    max-width: 80vw;
    max-height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;
  }
}
