.top {
  margin: 40px auto;
}

.home_header {
  margin-bottom: 40px;
}

.home_logo {
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 4px;
  
  img {
    height: 100%;
  }
}

.home_title {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 4px;
}

.home_carousel {
  width: 80%;
  margin: auto;
}

.home_footer {
  margin-top: 40px;
}
