.home_header {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .home_header {
    flex-wrap: wrap;
  }
}

.home_logo {
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 4px;
}

.home_logo img {
  height: 100%;
}

.home_title {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 4px;
  font-size: 4vw;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .home_title {
    width: 100%;
    margin: 20px auto 0 auto;
    font-size: 7vw;
  }
}

.home_carousel {
  width: 80vw;
  max-width: 960px;
  margin: auto;
}

.home_footer {
  margin-top: 40px;
}

.home_footer .counter {
  margin: auto 4px auto 0;
}