@import "../../foundation/mixins.scss";
@import "../../foundation/variable.scss";

.Publications_professors {
  @include max-screen($breakpoint-tablet) {
    flex-direction: column;
  }
}

.Publications_professor {
  padding: 16px;

  @include max-screen($breakpoint-tablet) {
    &,
    a {
      flex-direction: column;
    }
  }
}

.Publications_professorImage {
  width: 160px;
  border-radius: 100%;
  margin: auto;
}

.Publications_professorName {
  text-align: center;
  margin: auto;
  padding: 16px 0;
  font-weight: bold;
}
