.membersListWrapper {
  max-width: 960px;
  width: auto;
  box-sizing: border-box;
}

.membersList {
  width: 960px;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .membersList {
    width: 704px;
  }
}

@media screen and (max-width: 768px) {
  .membersList {
    width: 416px;
  }
}

@media screen and (max-width: 480px) {
  .membersList {
    width: auto;
  }
}

.member {
  padding: 16px;
  width: 240px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .member {
    width: 234px;
  }
}

@media screen and (max-width: 768px) {
  .member {
    width: 208px;
  }
}

@media screen and (max-width: 480px) {
  .member {
    width: 100%;
  }
}

.memberImage {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: auto;
  overflow: hidden;
  background-color: #f8f6ed;
}

.memberImage img {
  height: 160px;
  margin: auto;
}

.memberName {
  text-align: center;
  margin: 0;
  padding: 16px 0 0 0;
  font-weight: bold;
}

.memberGraduated {
  margin: 0;
  text-align: center;
  font-size: 1.4rem !important;
}